$toggle: (
  enable: (
    background: rgb(46, 170, 220),
    transform: translateX(12px) translateY(0px),
  ),
  disable: (
    background: rgba(135, 131, 120, 0.3),
    transform: translateX(0px) translateY(0px),
  ),
);

@mixin button() {
  @each $theme, $map in $toggle {
    .row.#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($toggle, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
