body{
    background-color: #0087FA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 2px white;
    border-radius: 10px;
    width: 350px;
    height: 200px;
    cursor: context-menu;
}
h1 {
  
    margin-top: 5px;
    color: #fff;
    text-align: center;
  
  }
  .desc{
    margin: 0 20px 0 20px;
  }
  h2,h3,p {
    color: #fff;
    word-break: break-word;
  }
  p{
    margin-top: 5px;
  }
  h3{
    margin-bottom: 0px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}


  .div-wrapper{
   
  }
  
 
  /* CHECKBOX START*/
  
  /* CHECKBOX END*/